.readme-page {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;

  .tab-container {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    .title-container {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .btn-back {
      width: 35px !important;
      height: 35px !important;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 2px solid #ddd;

      svg {
        width: 20px;
        height: 20px;
        transform: translateX(5px);
        color: #000;
      }

      &:hover {
        background-color: #f0f0f0;
        border-color: #bbb;
      }
    }

    h1 {
      font-size: 30px;
      margin: 0;
    }

    .subtitle {
      font-size: 22px;
      color: #666;
    }

    .form-fields {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
          font-weight: bold;
        }

        .monospace-textarea {
          font-family: 'Courier New', Courier, monospace;
          padding: 8px;
          color: #000;
          background-color: #FFF;
          border: 1px solid #ddd;
          border-radius: 4px;
          min-height: 300px;
          resize: vertical;
        }
      }
    }
  }

  .readme-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .readme-toolbar {
      padding: 10px 15px;
      background-color: #ffffff;
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .label {
        font-size: 20px;
        margin: 0;
        font-weight: 600;
      }

      .btn-download {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 8px 16px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }
      }
    }

    .readme-preview {
      flex: 1;
      width: 100%;
      padding: 15px;
      background-color: #ffffff;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 4px;
      word-wrap: break-word;

      h1 {
        font-size: 2em;
        padding-bottom: .3em;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #ddd;
        font-weight: 600;
        line-height: 1.25;
      }

      h2 {
        font-size: 1.5em;
        padding-bottom: .3em;
        margin-top: 1.5rem;
        border-bottom: 1px solid #ddd;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.25;
      }

      h3 {
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.25;
      }

      h4 {
        font-size: 1em;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.25;
      }

      h5 {
        font-size: 0.9em;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.25;
      }

      h6 {
        font-size: 0.8em;
        font-weight: 600;
        color: #9198a1;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.25;
      }

      a {
        font-weight: 400 !important;
        text-decoration: underline !important;
      }

      table {
        border-collapse: collapse;
        margin: 1em 0;

        th,
        td {
          padding: 8px;
          border: 1px solid #ddd;
          text-align: left;
        }

        th {
          background-color: #f2f2f2;
          font-weight: bold;
        }
      }

      code {
        background-color: #f1f1f1;
        padding: 1rem;
        border-radius: 4px;
      }

      input[type="checkbox"] {
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid #aaa;
        border-radius: 3px;
        background-color: #fff;
        position: relative;
        margin: 0;
        margin-right: 5px;
        cursor: pointer;
      }

      input[type="checkbox"]:checked {
        background-color: #b1b1b1;
      }

      input[type="checkbox"]:checked::after {
        content: '✔';
        color: white;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 2px;
      }

      kbd {
        display: inline-block;
        padding: 0.2em 0.6em;
        font-size: 0.8em;
        color: #fff;
        background-color: #333;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
      }
    }
  }
}